** (** at **).flp
RECOVER_**.fla
**.kra~
**.swf

# this is just to avoid dupe files
dev/flashFiles/**/**.mp4
dev/flFiles/**/**.ogg
# this is just to avoid technically dupe files
dev/fnfcFiles/**.zip
dev/fnfsFiles/**.zip

# no bloat of the project size for github
Itucow-**.zip